.profile {
  margin-bottom: 50px;
  width: 250px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.description {
  text-align: center;
}

.name {
  font-weight: 700;
}

.tag,
.location {
  color: grey;
}

.stats {
  display: flex;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border: 1px solid rgba(238, 238, 238, 1);
  background-color: rgba(238, 238, 238, 0.5);
}
